<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData">
      <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.code}}</mat-cell>
          <mat-cell *matCellDef="let element" hidden>{{element.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="birthday">
          <mat-header-cell *matHeaderCellDef>Birthday</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.birthday}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell *matCellDef="let element"><img [src]="element.image" style="width:30px;height:30px"/></mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)" type="button"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button (click)="onDelete(row.id)" type="button"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row;columns:displayedColumns;"></mat-row>
      <!-- <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container> -->
        <!-- <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container> -->
        <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':(listData!=null && listData.data.length==0)}"></mat-footer-row> -->
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
